<% unless @restaurants.empty? %>
  <ul>
  <% @restaurants.each do |restaurant|%>
    <li>

      <%= link_to(restaurant.name, restaurant_path(restaurant))%>
      </br>
      <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>    </li>
  <% end %>
</ul>
<% else  %>
  Restaurant listings: There are currently no listings available
<% end %>

<%= link_to('Add a restaurant', new_restaurant_path)%>
