<% if  @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>

  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<!-- <a href="#">Add a restaurant</a> -->

<a href="/restaurants/new">Add a restaurant</a>

<!--  link_to "Add a restaurant", restaurants/new %> -->
<!-- new_restaurant GET    /restaurants/new(.:format)      restaurants#new -->
