<% unless @restaurants.empty? %>
  <ul>
  <% @restaurants.each do |restaurant|%>
    <li>

      <%= link_to(restaurant.name, restaurant_path(restaurant))%>
      Rating: <%= restaurant.rating %> </a>
    </li>
  <% end %>
</ul>
<% else  %>
  Restaurant listings: There are currently no listings available
<% end %>

<%= link_to('Add a restaurant', restaurants_new_path)%>
