<% unless @restaurants.empty? %>
  <ul>
  <% @restaurants.each do |restaurant|%>
    <li>
      <%= restaurant.name + ", "%>
      Rating: <%= restaurant.rating %>
    </li>
  <% end %>
</ul>
<% else  %>
  Restaurant listings: There are currently no listings available
<% end %>

<%= link_to('Add a restaurant', restaurants_new_path)%>
