/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, a, form, input, p, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
}

.field_with_errors {
  color: #e44;
}
.field_with_errors input {
  border: 1px solid #e44;
}
form input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
form select {
  margin: 0 0 10px 5px;
}
textarea {
  resize: none;
  border: 1px solid #ddd;
  height: 68px;
  padding: 2px;
  font-size: 0.9em;
}
form {
  width: 200px;
}
input[type=submit] {
  width: auto;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
